project_2/mo.xsd

<!-- xmllint -noout -schema mo.xsd mo.xml -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customer" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="cname"/>
                    <xs:element type="xs:string" name="street"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element name="zip">
                      <xs:simpleType>
                        <xs:restriction base='xs:string'>
                          <xs:pattern value='[0-9]{5}(-[0-9]{4})?'/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="phone">
                    <xs:simpleType>
                        <xs:restriction base='xs:string'>
                          <xs:pattern value='[0-9]{3}-[0-9]{3}-[0-9]{4}'/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="cno" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:int">
                      <xs:minInclusive value="1000"/>
                      <xs:maxInclusive value="9999"/>
                    </xs:restriction>
                  </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="employees">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ename"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element name="zip">
                     <xs:simpleType>
                        <xs:restriction base='xs:string'>
                          <xs:pattern value='[0-9]{5}(-[0-9]{4})?'/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:date" name="hdate"/>
                  </xs:sequence>
                  <xs:attribute name="eno" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:int">
                      <xs:minInclusive value="1000"/>
                      <xs:maxInclusive value="9999"/>
                    </xs:restriction>
                  </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="parts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="part" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="pname"/>
                    <xs:element type="xs:positiveInteger" name="qoh"/>
                    <xs:element name="price">
                     <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2" />
                        <xs:minInclusive value="0" />
                        <xs:pattern value="\d+\.\d{2}" />
                      </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:positiveInteger" name="level"/>
                  </xs:sequence>
                  <xs:attribute name="pno" use="optional">
                  <xs:simpleType>
                  <xs:restriction base="xs:int">
                      <xs:minInclusive value="10000"/>
                      <xs:maxInclusive value="99999"/>
                      </xs:restriction>
                  </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="orders">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="order" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:date" name="receivedDate"/>
                    <xs:element type="xs:date" name="shippedDate" minOccurs="0"/>
                    <xs:element name="items">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="partNumber">
                                <xs:simpleType>
                                  <xs:restriction base="xs:int">
                                      <xs:minInclusive value="10000"/>
                                      <xs:maxInclusive value="99999"/>
                                      </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element type="xs:positiveInteger" name="quantity"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ono" use="optional">
                    <xs:simpleType>
                       <xs:restriction base="xs:int">
                          <xs:minInclusive value="1000"/>
                          <xs:maxInclusive value="9999"/>
                      </xs:restriction>
                  </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="takenBy" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:int">
                      <xs:minInclusive value="1000"/>
                      <xs:maxInclusive value="9999"/>
                    </xs:restriction>
                  </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="customer" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:int">
                      <xs:minInclusive value="1000"/>
                      <xs:maxInclusive value="9999"/>
                    </xs:restriction>
                  </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>